<div class="mt-4">
    <h3>My Courses</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Level</th>
                <th scope="col" colspan="2">Time of Course</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{ sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/edit/{{this._id}}" class="btn btn-link">Edit</a>
                    <button class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#deleteCourseModal">Delete</button>


                </td>
            </tr>

            {{/each }}
        </tbody>
    </table>
</div>


{{!-- Confirm Delete Course --}}
<!-- Modal -->
<div class="modal fade" id="deleteCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Course ? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="model-body">
                <p> Do you want to delete this course? </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn-delete btn-primary">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form id="delete-course-form" method="POST">

</form>

<script>
    var exampleModal = document.getElementById('deleteCourseModal')
    var deleteForm = document.getElementById('delete-course-form');
    var idDelete = 0;
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        idDelete = button.getAttribute('data-id');
        console.log(idDelete);

    })

    var btnDeleteCourse = document.getElementById('btn-delete-course');
    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/delete/' + idDelete + '?_method=DELETE';
        deleteForm.submit();
    }

</script>